<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%@team.each do |key, value|%>
      <h3><%="#{key}: #{value}"%></h3>
    <%end%>
  </body>
</html>


